/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*Pallete Colors*/
/*Media Queries*/
body {
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  position: relative;
  top: 70px;
  width: 100%;
}

/*Placeholdes*/
.container-right .content-videos .card-video .card-info, .menu-right, .search, .menu-left {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.menu-right i, .search i {
  cursor: pointer;
  font-size: 1.5em;
}
.menu-right i:hover, .search i:hover {
  opacity: 0.5;
}

.menu-right p, .search p {
  background-color: #1a1a1a;
  border-radius: 5px;
  color: #ffffff;
  font-size: 0.9em;
  margin-left: -45px;
  opacity: 0.8;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  width: 120px;
  visibility: hidden;
  z-index: 1;
}
.menu-right p:hover, .search p:hover {
  visibility: visible;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  height: 10vh;
  padding: 1% 2%;
  position: fixed;
  z-index: 2;
}

.menu-left {
  width: 20%;
}
.menu-left .linhas {
  cursor: pointer;
}
.menu-left .linhas .linha,
.menu-left .linhas .linha1,
.menu-left .linhas .linha2 {
  background-color: #ffffff;
  height: 2px;
  margin: 6px 0;
  width: 30px;
}
.menu-left img {
  margin-left: 7%;
  width: 35%;
}
@media screen and (max-width: 600px) {
  .menu-left .linhas {
    display: none;
  }
  .menu-left img {
    width: 100%;
  }
}
@media screen and (min-width: 650px) and (max-width: 950px) {
  .menu-left .linhas {
    display: none;
  }
  .menu-left img {
    width: 80%;
  }
}

.search {
  width: 50%;
}
.search form {
  width: 80%;
}
.search form input {
  background-color: #1a1a1a;
  border: 1px solid #302e2e;
  font-size: 1.1em;
  outline: none;
  padding: 2%;
  width: 100%;
}
.search form input:focus {
  border: 1px solid #cc0000;
}
.search .icon-search {
  background-color: #302e2e;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
  padding: 1.5% 2.4%;
  width: 60px;
}
.search .icon-microphone {
  background-color: #1a1a1a;
  border-radius: 50%;
  padding: 1.6% 2%;
  margin-left: 2%;
  width: 50px;
}
@media screen and (max-width: 600px) {
  .search form,
.search .icon-search,
.search .icon-microphone {
    display: none;
  }
}
@media screen and (min-width: 650px) and (max-width: 950px) {
  .search form,
.search .icon-search,
.search .icon-microphone {
    display: none;
  }
}

.menu-right {
  gap: 15%;
  justify-content: flex-end;
  width: 10%;
}
.menu-right i:last-of-type {
  display: none;
}
.menu-right img {
  height: 40px;
  width: 40px;
}
@media screen and (max-width: 600px) {
  .menu-right i {
    display: none;
  }
  .menu-right i:last-of-type {
    display: inline-block;
    margin-right: 2%;
  }
  .menu-right img {
    height: auto;
    width: 100%;
  }
}
@media screen and (min-width: 650px) and (max-width: 950px) {
  .menu-right i {
    display: none;
  }
  .menu-right i:last-of-type {
    display: inline-block;
    margin-right: 2%;
  }
  .menu-right img {
    height: auto;
    width: 50%;
  }
}

.container-left {
  background-color: #000000;
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  width: 15%;
}
.container-left nav ul {
  margin: 3% 0;
}
.container-left nav li {
  padding: 4%;
  color: #ffffff;
}
.container-left nav li:hover {
  background-color: #302e2e;
  cursor: pointer;
}
.container-left nav a {
  color: #ffffff;
  font-size: 0.9em;
  margin-left: 8%;
}
.container-left nav hr {
  background-color: #302e2e;
  border: none;
  content: "";
  height: 1px;
  margin: 3% 1%;
}
.container-left nav h3 {
  color: #cccccc;
  margin: 3%;
  text-transform: uppercase;
}
.container-left nav img {
  height: 28px;
  border-radius: 50%;
  margin-bottom: -5%;
  width: 28px;
}
.container-left nav .links-nav {
  font-weight: 800;
  font-size: 0.9em;
  margin: 5% 0;
  padding: 1%;
}
.container-left nav .links-nav a {
  color: #cccccc;
  display: block;
  line-height: 1.4em;
}
.container-left nav .links-nav a:hover {
  color: #ffffff;
}
.container-left nav p {
  color: #cccccc;
  font-size: 0.8em;
  margin: 5%;
  padding: 1%;
}
@media screen and (max-width: 600px) {
  .container-left {
    display: none;
  }
}
@media screen and (min-width: 650px) and (max-width: 950px) {
  .container-left {
    display: none;
  }
}

/*Formatando Scrollbar*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #302e2e;
}

::-webkit-scrollbar-thumb:hover {
  background: #302e2e;
}

.container-right {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #302e2e;
  flex-wrap: wrap;
  left: 15%;
  position: absolute;
  width: 85%;
}
.container-right .content-links {
  background-color: #000000;
  border-top: 1px solid #302e2e;
  border-bottom: 1px solid #302e2e;
  position: fixed;
  padding: 1%;
  width: 100%;
}
.container-right .content-links a {
  background-color: #302e2e;
  border: 1px solid #1a1a1a;
  border-radius: 50px;
  color: #ffffff;
  font-size: 0.9em;
  font-weight: bold;
  padding: 5px 10px;
}
.container-right .content-links a:first-of-type {
  background-color: #ffffff;
  color: #1a1a1a;
}
.container-right .content-links a:hover {
  opacity: 0.8;
}
.container-right .content-videos {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #1a1a1a;
  flex-wrap: wrap;
  flex: 1;
  gap: 10px;
  margin-top: 4%;
  padding: 1%;
  width: 100%;
}
.container-right .content-videos .card-video {
  border: 1px solid transparent;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
  transform: scale(1);
  background-color: darkblue;
  width: 300px;
}
.container-right .content-videos .card-video video {
  width: 100%;
}
.container-right .content-videos .card-video .card-info {
  padding: 2%;
  width: 100%;
}
.container-right .content-videos .card-video .card-info img {
  border-radius: 50%;
  height: 36px;
  margin-right: 3%;
  width: 36px;
}
.container-right .content-videos .card-video .card-info p {
  font-size: 0.9em;
  font-weight: bold;
}
.container-right .content-videos .card-video .card-footer {
  color: #cccccc;
  font-size: 0.7em;
  margin-left: 15%;
  margin-top: 2%;
  padding-bottom: 5%;
}
.container-right .content-videos .card-video .card-buttons {
  margin: 2% 0;
  display: none;
  text-align: center;
}
.container-right .content-videos .card-video .card-buttons a {
  color: #ffffff;
  display: inline-block;
  font-size: 0.9em;
  margin: 2% 0;
  padding: 2% 0;
  text-align: center;
  width: 90%;
}
.container-right .content-videos .card-video .card-buttons i {
  margin-right: 3%;
}
.container-right .content-videos .card-video:hover {
  background-color: #1a1a1a;
  border: 1px solid #302e2e;
  transition: all 200ms ease-in;
  transform: scale(1.1);
  z-index: 1;
}
.container-right .content-videos .card-video:hover .card-buttons {
  display: block;
}
.container-right .content-videos .card-video:hover .card-buttons a {
  background-color: #302e2e;
  opacity: 0.8;
}
@media screen and (max-width: 600px) {
  .container-right {
    flex-direction: column;
    width: 100%;
  }
  .container-right .content-links {
    display: none;
  }
  .container-right .content-videos .card-video {
    margin: 5% 0;
    width: 100%;
  }
}
@media screen and (min-width: 650px) and (max-width: 950px) {
  .container-right {
    flex-direction: column;
    width: 100%;
  }
  .container-right .content-links {
    display: none;
  }
  .container-right .content-videos .card-video {
    margin: 5% 0;
    width: 100%;
  }
  .container-right .content-videos .card-footer {
    margin-left: 0;
    background-color: rebeccapurple;
  }
}

/*# sourceMappingURL=main.css.map */
