@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: $black;
    color: $white;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

/*Placeholdes*/
%display-row {
    align-items: center;
    display: flex;
    flex-direction: row;
}

%style-icons {
    cursor: pointer;
    font-size: 1.5em;

    &:hover {
        opacity: 0.5;
    }
}