@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: $black-dark;
    color: $white;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    position: relative;
    top: 70px;
    width: 100%;
}

/*Placeholdes*/
%display-row {
    align-items: center;
    display: flex;
    flex-direction: row;
}

%style-icons {
    cursor: pointer;
    font-size: 1.5em;

    &:hover {
        opacity: 0.5;
    }
}

%text-tooltip {
    background-color: $black-dark;
    border-radius: 5px;
    color: $white;
    font-size: 0.9em;
    margin-left: -45px;
    opacity: 0.8;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    width: 120px;
    visibility: hidden;
    z-index: 1;

    &:hover {
        visibility: visible;
    }
}