/*Pallete Colors*/
$black: #000000;
$black-light: #333333;
$black-dark: #1a1a1a;
$red: #cc0000;
$white: #ffffff;

/*Media Queries*/
$mq-mobile: "(max-width: 600px)";
$mq-tablet: "(min-width: 650px) and (max-width: 950px)";